<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="{% url 'home' %}">Django</a>

      <!-- Navbar Toggler Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <!-- Home Link -->
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>

              <!-- About Link -->
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <!-- Add Moive -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_movie' %}">ADD Movie</a>
            </li>
             <!-- Add Moive -->
             <li class="nav-item">
                <a class="nav-link" href="{% url 'all_actors' %}">All Actors</a>
            </li>
            <!-- Add Moive -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_actor' %}">ADD Actor</a>
            </li>
              
              <!-- Categories Dropdown -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categories
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <!-- All Products Link -->
                      <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Products</a></li>

                      <!-- Divider -->
                      <li><hr class="dropdown-divider" /></li>

                      <!-- Movie Link -->
                      <li><a class="dropdown-item" href="{% url 'category' 'movie' %}">Movies</a></li>

                      <!-- Marketing Books Link -->
                      <li><a class="dropdown-item" href="{% url 'category' 'Marketing-Books' %}">Marketing Books</a></li>
                  </ul>
              </li>

              <!-- Inbox icon -->
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'inbox' %}">
                      <i class="fas fa-inbox"></i> Inbox
                  </a>
              </li>
              {% endif %}

              <!-- User Authentication Section -->
              <li class="nav-item dropdown">
                  {% if user.is_authenticated %}
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="{{user.profile.avatar}}" class="rounded-circle" height="40" width="40" alt="Avatar" loading="lazy" />
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                      <!-- My Profile Link -->
                      <li>
                          <a class="dropdown-item" href="{% url 'profile' user.id %}">My profile</a>
                      </li>

                      <!-- Settings Link -->
                      <li>
                          <a class="dropdown-item" href="{% url 'profile_edit' user.username%}">Settings</a>
                      </li>

                      <!-- Logout Link -->
                      <li>
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </li>
                  </ul>
                  {% else %}
                  <!-- Login Link -->
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                  {% endif %}
                </li>
              </li>
          </ul>
      </div>
  </div>
</nav>
